<nav id="main-nav">
  <div class="toggle-nav">
    <i class="fa fa-bars sidebar-bar"></i>
  </div>
  <!-- Sample menu definition -->
  <ul id="main-menu" class="sm pixelstrap sm-horizontal">
    <li>
      <div class="mobile-back text-right">
        Atras<i class="fa fa-angle-right pl-2" aria-hidden="true"></i>
      </div>
    </li>
    <li>
      <a [routerLink]="'/paginas/coleccion'">{{ 'Catálogos' | translate }}</a>
    </li>
    <li><a [routerLink]="'/inicio/categoria/mujer'">{{ 'Women' | translate }}</a>
      <ul class="ul">
        <li class="w-75 d-sm-none d-xl-block d-lg-none d-md-none" *ngFor="let sub of SubCategories[0]">
          <a [routerLink]="'/inicio/categoria/'+sub.name">{{ sub.name | translate }}</a>
        </li>
        <li class="w-75 d-lg-block d-xl-none d-md-block d-sm-block" (click)="hideMenu()"
            *ngFor="let sub of SubCategories[0]">
          <a [routerLink]="'/inicio/categoria/'+sub.name">{{ sub.name | translate }}</a>
        </li>
      </ul>
    </li>
    <li><a [routerLink]="'/inicio/categoria/hombre'">{{ 'Men' | translate }}</a>
      <ul class="ul">
        <li class="w-75 d-sm-none d-xl-block d-lg-none d-md-none" *ngFor="let sub of SubCategories[1]">
          <a [routerLink]="'/inicio/categoria/'+sub.name">{{ sub.name | translate }}</a>
        </li>
        <li class="w-75 d-lg-block d-xl-none d-md-block d-sm-block" (click)="hideMenu()"
            *ngFor="let sub of SubCategories[1]">
          <a [routerLink]="'/inicio/categoria/'+sub.name">{{ sub.name | translate }}</a>
        </li>
      </ul>
    </li>
    <li><a [routerLink]="'/inicio/categoria/niños'">{{ 'Boys' | translate }}</a>
      <ul class="ul">
        <li class="w-75 d-sm-none d-xl-block d-lg-none d-md-none" *ngFor="let sub of SubCategories[2]">
          <a [routerLink]="'/inicio/categoria/'+sub.name">{{ sub.name | translate }}</a>
        </li>
        <li class="w-75 d-lg-block d-xl-none d-md-block d-sm-block" (click)="hideMenu()"
            *ngFor="let sub of SubCategories[2]">
          <a [routerLink]="'/inicio/categoria/'+sub.name">{{ sub.name | translate }}</a>
        </li>
      </ul>
    </li>
    <li><a [routerLink]="'/inicio/categoria/niñas'">{{ 'Girls' | translate }}</a>
      <ul class="ul">
        <li class="w-75 d-sm-none d-xl-block d-lg-none d-md-none" *ngFor="let sub of SubCategories[3]">
          <a [routerLink]="'/inicio/categoria/'+sub.name">{{ sub.name | translate }}</a>
        </li>
        <li class="w-75 d-lg-block d-xl-none d-md-block d-sm-block" (click)="hideMenu()"
            *ngFor="let sub of SubCategories[3]">
          <a [routerLink]="'/inicio/categoria/'+sub.name">{{ sub.name | translate }}</a>
        </li>
      </ul>
    </li>
    <li>
      <a [routerLink]="'/inicio/categoria/especial'">{{ 'Special' | translate }}</a>
      <ul class="ul">
        <li class="w-75 d-sm-none d-xl-block d-lg-none d-md-none" *ngFor="let sub of SubCategories[4]">
          <a [routerLink]="'/inicio/categoria/'+sub.name">{{ sub.name | translate }}</a>
        </li>
        <li class="w-75 d-lg-block d-xl-none d-md-block d-sm-block" (click)="hideMenu()"
            *ngFor="let sub of SubCategories[4]">
          <a [routerLink]="'/inicio/categoria/'+sub.name">{{ sub.name | translate }}</a>
        </li>
      </ul>
    </li>
    <li>
      <a [routerLink]="'/paginas/quienes-somos'">{{ 'Quiénes somos' | translate }}</a>
    </li>
  </ul>
</nav>
