<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Checkout</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/inicio/one'">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Comprar</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<section class="section-b-space">
  <div class="container padding-cls">
    <div class="checkout-page">
      <div class="checkout-form">
        <form>
          <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="checkout-title">
                <h3>Datos de compra</h3>
              </div>
              <div class="row check-out">
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Nombre(s)</div>
                  <input type="text" name="firstname" [formControl]="checkoutForm.controls['firstname']" value=""
                         placeholder="" autocomplete="off">
                  <div
                    *ngIf="checkoutForm.controls.firstname.errors?.required"
                    class="text text-danger">
                    El nombre es requerido.
                  </div>
                  <div
                    *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.pattern"
                    class="text text-danger">
                    Solo se permiten letras en el nombre.
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Apellido(s)</div>
                  <input type="text" name="lastname" [formControl]="checkoutForm.controls['lastname']" value=""
                         placeholder="" autocomplete="off">
                  <div *ngIf=" checkoutForm.controls.lastname.errors?.required"
                       class="text text-danger">
                    El apellido es requerido.
                  </div>
                  <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.pattern"
                       class="text text-danger">
                    Solo se permiten letras en el apellido.
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Cédula</div>
                  <input type="text" name="cedula" [formControl]="checkoutForm.controls['cedula']" value=""
                         placeholder="" autocomplete="off">
                  <div
                    *ngIf="checkoutForm.controls.cedula.errors?.required"
                    class="text text-danger">
                    La cédula es requerida.
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Teléfono</div>
                  <input type="text" name="telephone" [formControl]="checkoutForm.controls['telephone']" value=""
                         placeholder=""
                         autocomplete="off">
                  <div
                    *ngIf="checkoutForm.controls.telephone.errors?.required"
                    class="text text-danger">
                    El Teléfono es requerido.
                  </div>
                  <div
                    *ngIf="checkoutForm.controls.telephone.touched && checkoutForm.controls.telephone.errors?.pattern"
                    class="text text-danger">
                    Solo se permiten numeros en el teléfono.
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Correo</div>
                  <input type="text" name="buyerEmail" [formControl]="checkoutForm.controls['buyerEmail']" value=""
                         placeholder=""
                         autocomplete="off">
                  <div
                    *ngIf="checkoutForm.controls.buyerEmail.errors?.required"
                    class="text text-danger">
                    El correo es requerido.
                  </div>
                  <div
                    *ngIf="checkoutForm.controls.buyerEmail.touched && checkoutForm.controls.buyerEmail.errors?.email"
                    class="text text-danger">
                    Correo invalido.
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Selecione el pais</div>
                  <select name="shippingCountry" [formControl]="checkoutForm.controls['shippingCountry']">
                    <option value="" selected disabled>Seleccione el país</option>
                    <option *ngFor="let data of paises" value="{{data.alpha2Code}}">{{data.name}}</option>
                  </select>
                  <div
                    *ngIf="checkoutForm.controls.shippingCountry.errors?.required"
                    class="text text-danger">
                    El país es requerido.
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Departamento</div>
                  <input type="text" name="state" [formControl]="checkoutForm.controls['state']" value="" placeholder=""
                         autocomplete="off">
                  <div *ngIf="checkoutForm.controls.state.errors?.required"
                       class="text text-danger">
                    El departamento es requerido
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Ciudad</div>
                  <input type="text" name="shippingCity" [formControl]="checkoutForm.controls['shippingCity']" value=""
                         placeholder=""
                         autocomplete="off">
                  <div
                    *ngIf="checkoutForm.controls.shippingCity.errors?.required"
                    class="text text-danger">
                    La ciudad es requerida.
                  </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Dirección</div>
                  <input type="text" name="shippingAddress" [formControl]="checkoutForm.controls['shippingAddress']"
                         value=""
                         placeholder="" autocomplete="off">
                  <div
                    *ngIf="checkoutForm.controls.shippingAddress.errors?.required"
                    class="text text-danger">
                    La dirección es requerida.
                  </div>
                  <div
                    *ngIf="checkoutForm.controls.shippingAddress.touched && checkoutForm.controls.shippingAddress.errors?.maxlength"
                    class="text text-danger">
                    Maximo 50 caracteres.
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12" *ngIf="!datos.frixionista">
                  <input class="field-label" type="checkbox" name="crear" id="exampleRadios1" value="option1"
                         [(ngModel)]="cuenta">
                  <label for="exampleRadios1">
                    ¿Crear cuenta?
                  </label>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12" *ngIf="cuenta">
                  <div class="field-label">Contraseña</div>
                  <input type="password" name="contrasena" value=""
                         [formControl]="passwordForm.controls['contrasena']"
                         placeholder=""
                         autocomplete="off">
                  <div
                    *ngIf="passwordForm.controls.contrasena.errors?.required"
                    class="text text-danger">
                    La contraseña es requerida
                  </div>
                </div>

              </div>
            </div>

            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="checkout-details">
                <div class="order-box">
                  <div class="title-box">
                    <div>Producto <span> Total</span></div>
                  </div>
                  <ul class="qty" *ngIf='checkOutItems.length'>
                    <li *ngFor="let item of checkOutItems">
                      {{ item.product.ref }} × {{ item.quantity }}
                      <span>{{ (item.product.price - (item.product.price * cartService.porcdtco)) * item.quantity | currency:productsService?.currency:'symbol' }}</span>
                    </li>
                  </ul>
                  <ul class="qty" *ngIf='!checkOutItems.length'>
                    <li class="empty-checkout"> No hay productos en tu carrito</li>
                  </ul>
                  <ul class="sub-total">
                    <li>
                      Subtotal <span
                      class="count">{{ getTotal(porcTotal) | currency:productsService?.currency:'symbol'}}</span>
                    </li>
                    <li>
                      Impuestos<span
                      class="count">{{ getTotal(porcTax) | currency:productsService?.currency:'symbol'}}</span>
                    </li>
                    <li>
                      Envío<span
                      class="count">{{ porcShipping| currency:productsService?.currency:'symbol'}}</span>
                    </li>
                    <!--<li>-->
                    <!--Descuento<span-->
                    <!--class="count">{{ dtco| currency:productsService?.currency:'symbol'}}</span>-->
                    <!--</li>-->
                  </ul>
                  <ul class="total">
                    <li>Total <span
                      class="count">{{ getTotal(1) + porcShipping | currency:productsService?.currency:'symbol'}}</span>
                    </li>
                  </ul>
                </div>

                <div class="checkout-details p-1">
                  <div class="order-box">
                    <div class="title-box p-4">
                      <div>Seleciona el medio de pago</div>
                    </div>
                    <div
                      class="payment-box d-flex flex-xl-row flex-lg-row flex-sm-column flex-column flex-md-column m-2 mw-100 justify-content-center align-items-center"
                      *ngIf='checkOutItems.length'>
                      <div class="text-right m-1">
                        <button class="btn-solid btn btn-block efecty butons" *ngIf="cuenta" [disabled]="pass"
                                (click)="cash('Efecty','https://frixiohechoamano.com/assets/images/BOTON-EFECTY.png',checkoutForm,passwordForm)"
                                type="submit">
                        </button>
                        <button class="btn-solid  btn btn-block efecty butons" *ngIf="!cuenta" [disabled]="pass2"
                                (click)="cash('Efecty','https://frixiohechoamano.com/assets/images/BOTON-EFECTY.png',checkoutForm,passwordForm)"
                                type="submit">
                        </button>
                      </div>
                      <div class="text-right m-1">
                        <button class="btn-solid btn btn-block baloto butons" *ngIf="cuenta" [disabled]="pass"
                                (click)="cash('Baloto','https://frixiohechoamano.com/assets/images/BUTTON-BALOTO.png',checkoutForm,passwordForm)"
                                type="submit">
                        </button>
                        <button class="btn-solid  btn btn-block baloto butons" *ngIf="!cuenta" [disabled]="pass2"
                                (click)="cash('Baloto','https://frixiohechoamano.com/assets/images/BUTTON-BALOTO.png',checkoutForm,passwordForm)"
                                type="submit">
                        </button>
                      </div>
                      <div class="text-right m-1">
                        <button class="btn-solid btn btn-block colpatria butons" *ngIf="cuenta" [disabled]="pass"
                                (click)="open(content,'Colpatria','https://frixiohechoamano.com/assets/images/BUTON-COLPATRIA.png',checkoutForm,passwordForm)"
                                type="submit">
                        </button>
                        <button class="btn-solid  btn btn-block colpatria butons" *ngIf="!cuenta" [disabled]="pass2"
                                (click)="open(content, 'Colpatria','https://frixiohechoamano.com/assets/images/BUTON-COLPATRIA.png',checkoutForm,passwordForm)"
                                type="submit">
                        </button>
                      </div>
                    </div>
                    <div
                      class="payment-box d-flex flex-xl-row flex-lg-row flex-sm-column  flex-md-column flex-column m-2 mw-100 justify-content-center align-items-center"
                      *ngIf='checkOutItems.length'>
                      <div class="text-right m-1">
                        <button class="btn-solid btn btn-block bancolombia butons" *ngIf="cuenta" [disabled]="pass"
                                (click)="open(content, 'Bancolombia','https://frixiohechoamano.com/assets/images/BOTON-BANCOLOMBIA.png',checkoutForm,passwordForm)"
                                type="submit">
                        </button>
                        <button class="btn-solid  btn btn-block bancolombia butons" *ngIf="!cuenta" [disabled]="pass2"
                                (click)="open(content, 'Bancolombia','https://frixiohechoamano.com/assets/images/BOTON-BANCOLOMBIA.png',checkoutForm,passwordForm)"
                                type="submit">
                        </button>
                      </div>
                      <div class="text-right m-1">
                        <button class="btn-solid btn btn-block davivienda butons" *ngIf="cuenta" [disabled]="pass"
                                (click)="open(content, 'Davivienda','https://frixiohechoamano.com/assets/images/BOTON-DAVIVIENDA.png',checkoutForm,passwordForm)"
                                type="submit">
                        </button>
                        <button class="btn-solid  btn btn-block davivienda butons" *ngIf="!cuenta" [disabled]="pass2"
                                (click)="open(content, 'Davivienda','https://frixiohechoamano.com/assets/images/BOTON-DAVIVIENDA.png',checkoutForm,passwordForm)"
                                type="submit">
                        </button>
                      </div>
                      <div class="text-right m-1">
                        <button class="btn-solid btn btn-block payu butons" *ngIf="cuenta" [disabled]="pass"
                                (click)="stripeCheckout(checkoutForm, passwordForm, true)"
                                type="submit">
                        </button>
                        <button class="btn-solid  btn btn-block payu butons" *ngIf="!cuenta" [disabled]="pass2"
                                (click)="stripeCheckout(checkoutForm, passwordForm, true)"
                                type="submit">
                        </button>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <ng-template #content let-modal id="contentToConvert">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Pago en {{banco}}</h4>
      <img src="{{img}}" alt="banvoimagen" class="img-fluid">
    </div>
    <div class="modal-body">
      <h6>{{desc}}</h6>
      <h6><strong>Recuerda enviarnos el comprobante de consignacion al <a href="">3104203383</a></strong> o al <a
        href=""><strong>3137402856</strong></a></h6>
      <div class="container">
        <div class="row">
          <div class="col-10">
            <div class="checkout-details">
              <div class="order-box">
                <div class="title-box">
                  <div>Producto <span> Total</span></div>
                </div>
                <ul class="qty" *ngIf='checkOutItems.length'>
                  <li *ngFor="let item of checkOutItems">
                    {{ item.product.ref }} × {{ item.quantity }}
                    <span>{{ ((item.product.price - (item.product.price * cartService.porcdtco)) * item.quantity) | currency:productsService?.currency:'symbol' }}</span>
                  </li>
                </ul>
                <ul class="qty" *ngIf='!checkOutItems.length'>
                  <li class="empty-checkout"> No hay productos en tu carrito</li>
                </ul>
                <ul class="sub-total">
                  <li>
                    Subtotal <span
                    class="count">{{ getTotal(porcTotal, 0, 0) | currency:productsService?.currency:'symbol'}}</span>
                  </li>
                  <li>
                    Impuestos<span
                    class="count">{{ getTotalimpuestos(porcTax, dtco) | currency:productsService?.currency:'symbol'}}</span>
                  </li>
                  <li>
                    Envío<span
                    class="count">{{ porcShipping| currency:productsService?.currency:'symbol'}}</span>
                  </li>
                  <!--<li>-->
                  <!--Descuento<span-->
                  <!--class="count">{{ dtco| currency:productsService?.currency:'symbol'}}</span>-->
                  <!--</li>-->
                </ul>
                <ul class="total">
                  <li>Total <span
                    class="count">{{ amount + porcShipping | currency:productsService?.currency:'symbol'}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <h5 *ngIf="sec!==0">Seras redirigido a la pagina de {{banco}} en {{sec}} segundos</h5>
      <button *ngIf="sec===0" type="button" class="btn btn-outline-dark" (click)="close()">Cerrar</button>
    </div>
  </ng-template>

</section>
