.zoom {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.inzoom {
  @media only screen and (min-width: 768px) {
    display: none;
    max-width: 100vw;
  }
}

.activeSize{
  background-color: #ff4c3b;
  -webkit-box-shadow: 0px 2px 5px #ff4c3b;
  -moz-box-shadow: 0px 2px 5px #ff4c3b;
  box-shadow: 0px 2px 5px #ff4c3b;
  border: none !important;
}
.img{
  width: 10%;
  height: 10%;
}

.awpp{
  text-decoration: none;
  background-color: transparent;
  text-transform: capitalize;
  color: black;
}
