<div class="media">
  <a [routerLink]="['/inicio/product', product.ref]"><img class="img-fluid"
                                                          [src]="!variantImage ? product.pictures[0] : variantImage"
                                                          alt="producto imagen"></a>
  <div class="media-body align-self-center">
    <div class="rating">
      <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
    </div>
    <a [routerLink]="['/inicio/product', product.ref]"><h6>{{product.name}}</h6></a>
    <h4>{{(product.price - (product.price * cartService.porcdtco)) | currency:productsService?.currency:'symbol'}}</h4>
    <ul class="color-variant" *ngIf="product.variants">
      <li [class]="variant.color" (click)="changeVariantImage(variant.images)"
          *ngFor="let variant of product.variants"></li>
    </ul>
  </div>
</div>
