<section class="cart-section section-b-space w-100 h-100">
  <div class="row">
    <div class="col-lg-6">
      <div class="row order-success-sec">
        <div class="col-sm-6">
          <h4>Compra</h4>
          <ul class="order-detail">
            <li>ID orden: {{order.id}}</li>
            <li>Fecha de pedido: {{order.created_at.slice(0, 10)}}</li>
            <li>total orden: {{getTotal(order.products) | currency:productsService?.currency:'symbol'}}</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <h4>Detalles de envío</h4>
          <ul class="order-detail">
            <li>{{order.pago.shippingAddress}}</li>
            <li>{{order.pago.state}}</li>
            <li>{{order.pago.shippingCountry}}, {{order.pago.postalcode}}</li>
            <li>Número de contacto {{order.pago.telephone}}</li>
          </ul>
        </div>

        <div class="col-sm-12 payment-mode">
          <h4>Método de pago</h4>
          <p> <span>{{order.method}}</span> con <span>{{order.entidad}}</span>.</p>
        </div>
        <div class="col-md-12">
          <div class="delivery-sec">
            <h3>Fecha esperada de entrega</h3>
            <h2>{{fEntrega.toLocaleDateString("es-ES", options)}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 rtl-text">
      <div class="product-right">
        <div class="product-description  border-product">
          <div class="form-group">
            <div class="field-label">Estado</div>
            <select name="shippingCountry" [(ngModel)]="status" (ngModelChange)="changeStatus(order.id)">
              <option value="" selected disabled>Select status</option>
              <option value="En proceso">En proceso</option>
              <option value="Confirmado">Confirmado</option>
              <option value="En camino">En camino</option>
              <option value="Entregado">Entregado</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <table class="table  table-responsive" style="overflow: auto;">
        <thead>
        <tr class="table-head">
          <th scope="col">imagen</th>
          <th scope="col">Nombre producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Talla</th>
          <th scope="col">Referencia</th>
          <th scope="col">total</th>
        </tr>
        </thead>
        <tbody *ngFor="let item of order.products">
        <tr>
          <td class="text-left" style="min-width: 130px;">
            <a href="">
              <img [src]="item.pictures[0].path" alt="produto imagen">
            </a>
          </td>
          <td class="text-left" style="min-width: 130px;">
            <h6>{{ item.name }}</h6>
          </td>
          <td class="text-left" style="min-width: 130px;">
            <h6>{{ item.price | currency:productsService?.currency:'symbol' }}</h6>
          </td>
          <td class="text-left" style="min-width: 130px;">
            <h6>{{item.quantity}}</h6>
          </td>
          <td class="text-left" style="min-width: 130px;">
            <h6>{{item.size}}</h6>
          </td>
          <td class="text-left" style="min-width: 130px;">
            <h6>{{item.shortDetails}}</h6>
          </td>
          <td class="text-left" style="min-width: 130px;">
            <h6
              class="td-color">{{ item.price * item.quantity | currency:productsService?.currency:'symbol' }}</h6>
          </td>
        </tr>
        </tbody>
      </table>
      <table class="table cart-table table-responsive-md">
        <tfoot>
        <tr>
          <td>Total precio :</td>
          <td>
            <h2> {{ getTotal(order.products) |currency:productsService?.currency:'symbol'}}</h2>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
