.parallax {
  background-image: url('/assets/images/parallax/bnn5.jpg');
  background-size: contain;
  height: 100vh;
  @media only screen and (max-width: 767px) {
    background-size: cover !important;
    background-position-x: -94vw;
    background-position-y: -9vh;
  }
}
