<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Productos</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/inicio/one'">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Productos</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb end -->
<!-- section start -->
<section class="section-b-space">
  <div class="collection-wrapper">
    <div class="container">
      <div class="row">
        <!-- Collection Sidebar -->
        <div class="col-sm-3 collection-filter">
          <div class="coll_sidebar_sticky">
            <div class="collection-filter-block">
              <app-categories></app-categories>
            </div>
            <div class="collection-filter-block">
              <app-brand [tagsFilters]="tags" (tagFilters)="updateTagFilters($event)" *ngIf="tags.length"></app-brand>
              <app-color [colorsFilters]="colors" (colorFilters)="updateColorFilters($event)"
                         *ngIf="colors.length"></app-color>
              <app-price *ngIf="price.length" [maxAndMin]="price"
                         (priceFilters)="updatePriceFilters($event)"></app-price>
              <app-price *ngIf="!price.length" [maxAndMin]="[10,100]"
                         (priceFilters)="updatePriceFilters($event)"></app-price>
            </div>
            <app-new-product></app-new-product>
            <div class="collection-sidebar-banner">
              <a [routerLink]="">
                <img src="assets/images/side-banner.png" class="img-fluid" alt="side imagen">
              </a>
            </div>
          </div>
        </div>
        <!-- End Collection Sidebar -->
        <div class="collection-content col">
          <div class="page-main-content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="collection-product-wrapper">
                    <!-- Filter Block Products -->
                    <div class="product-top-filter">
                      <div class="container-fluid p-0">
                        <div class="row">
                          <div class="col-xl-12">
                            <div class="filter-main-btn">
                              <span class="filter-btn btn btn-theme" (click)="mobileFilter()">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="product-filter-content">
                              <div class="search-count">
                                <h5>Mostrando productos 1-{{filterItems().length}}</h5>
                              </div>
                              <div class="collection-grid-view">
                                <ul>
                                  <li>
                                    <img src="assets/images/icon/2.png" class="product-2-layout-view"
                                         (click)="twoCol()">
                                  </li>
                                  <li>
                                    <img src="assets/images/icon/3.png" class="product-3-layout-view"
                                         (click)="threeCol()">
                                  </li>
                                  <li>
                                    <img src="assets/images/icon/4.png" class="product-4-layout-view"
                                         (click)="fourCol()">
                                  </li>
                                  <li>
                                    <img src="assets/images/icon/6.png" class="product-6-layout-view"
                                         (click)="sixCol()">
                                  </li>
                                </ul>
                              </div>
                              <div class="product-page-filter">
                                <select (change)="onChangeSorting($event.target.value)">
                                  <option value="asc">Ordenar productos</option>
                                  <option value="asc">Orden ascendente</option>
                                  <option value="desc">Orden descendente</option>
                                  <option value="a-z">Alfabéticamente, A-Z</option>
                                  <option value="z-a">Alfabéticamente, Z-A</option>
                                  <option value="low">Precio, Menor a Mayor</option>
                                  <option value="high">Precio, Mayor a Menor</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Block Products -->
                    <!-- Display Products -->
                    <div class="product-wrapper-grid">
                      <div class="container-fluid">
                        <div class="row" [@Animation]="animation">
                          <div class="col-xl-3 col-md-6 col-grid-box"
                               *ngFor="let product of filterItems() | orderBy:sortByOrder">
                            <div class="product-box">
                              <app-product [product]="product"></app-product>
                            </div>
                            <div infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="2000"
                                 (scrolled)="onScroll()" *ngIf="filterItems().length">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-infinitescroll">
                      <div class="theme-paggination-block">
                        <div class="container-fluid p-0">
                          <div class="row">
                            <div class="text-center col-sm-12">
                              <div class="infinite-scrolling mt-4 mb-4 d-inline-block">
                                <img src="assets/images/loader.gif"
                                     *ngIf="(!finished && filterItems().length)||!products.length">
                                <div class="loading-more active" *ngIf="finished && filterItems().length">No hay mas
                                  productos
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 text-center section-b-space mt-5 no-found"
                         *ngIf="!filterItems().length && !finished">
                      <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
                      <h3>
                        ¡Lo siento! No se pudo encontrar el producto que buscabas !!! </h3>
                      <p>
                        Compruebe si ha escrito mal algo o intente buscar con otras palabras.</p>
                      <a [routerLink]="['/inicio/categoria/','all']" class="btn btn-solid">Continue comprando</a>
                    </div>

                    <!-- End Infinite Scroll -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section End -->
<app-quick-view></app-quick-view>
