<div class="page-title">
  <h2>My Dashboard</h2>
</div>
<div class="welcome-msg">
  <p>Hola, {{data.cliente.buyerFullName}}!</p>
  <p>Desde el Panel de Mi Cuenta, tiene la capacidad de ver una instantánea de la actividad reciente de su cuenta y
    actualizar
    La información de su cuenta. Seleccione un enlace a continuación para ver o editar información.</p>
</div>
<div class="box-account box-info">
  <div class="box-head">
    <h2>Información de la cuenta</h2>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <div class="box-title">
          <h3>Información de contacto</h3>
          <a [routerLink]="'/paginas/dashboard/cuenta'">Editar</a>
        </div>
        <div class="box-content row">
          <h6 class="col-sm-6" *ngIf="data.cliente.buyerFullName !=null">{{data.cliente.buyerFullName}}</h6>
          <h6 class="col-sm-6" *ngIf="data.cliente.buyerEmail !=null">{{data.cliente.buyerEmail}}</h6>
          <h6 class="col-sm-6" *ngIf="data.cliente.telephone !=null">{{data.cliente.telephone}}</h6>
          <h6 class="col-sm-6" *ngIf="data.cliente.shippingCountry !=null">{{data.cliente.shippingCountry}}</h6>
          <h6 class="col-sm-6" *ngIf="data.cliente.state !=null">{{data.cliente.state}}</h6>
          <h6 class="col-sm-6" *ngIf="data.cliente.shippingCity !=null">{{data.cliente.shippingCity}}</h6>
          <h6 class="col-sm-6" *ngIf="data.cliente.shippingAddress !=null">{{data.cliente.shippingAddress}}</h6>
          <h6 class="col-sm-12"><a [routerLink]="'/paginas/dashboard/cambiar-contraseña'">Cambiar contraseña</a></h6>
        </div>
      </div>
    </div>
  </div>
</div>
