<app-slider></app-slider>
<app-collection-banner></app-collection-banner>
<app-product-slider [products]="sliderProducts"></app-product-slider>
<app-parallax-banner></app-parallax-banner>
<app-product-tab [products]="products"></app-product-tab>
<app-services></app-services>
<app-quick-view></app-quick-view>
