<div class="icon-nav">
  <ul>
    <li class="onhover-div mobile-search">
      <div>
        <img src="assets/images/icon/search.png" [routerLink]="'/inicio/search'" class="img-fluid" alt="search imagen">
        <i class="icon-search" [routerLink]="'/inicio/search'"></i>
      </div>
    </li>
    <li class="onhover-div mobile-setting">
      <div><img src="assets/images/icon/setting.png" class="img-fluid" alt="settings imagen">
        <i class="icon-settings"></i></div>
      <div class="show-div setting">
        <h6>Lenguaje</h6>
        <ul>
          <li><a [routerLink]="" (click)="changeLanguage('en')">Español</a></li>
        </ul>
        <h6>Tipo Moneda</h6>
        <ul class="list-inline">
          <li><a [routerLink]="" (click)="updateCurrency('COP')">Peso</a></li>
        </ul>
      </div>
    </li>
    <li class="onhover-div mobile-cart">
      <div>
        <a [routerLink]="'/inicio/carrito'">
          <img src="assets/images/icon/cart.png" class="img-fluid" alt="carrito imagen">
          <i class="icon-shopping-cart"></i>
        </a>
      </div>
      <ul class="show-div shopping-cart" *ngIf='!shoppingCartItems.length'>
        <h5>Tu carrito esta vació.</h5>
      </ul>
      <span class="cart_qty_cls">{{shoppingCartItems.length}}</span>
      <ul class="show-div shopping-cart" *ngIf='shoppingCartItems.length'>
        <li *ngFor="let item of shoppingCartItems">
          <div class="media">
            <a [routerLink]="['/inicio/product', item.product.ref]"><img class="mr-3"
                                                                         [src]="item.product.pictures[0]"
                                                                         alt="Generic placeholder image"></a>
            <div class="media-body">
              <a [routerLink]="['/inicio/product', item.product.ref]"><h4>{{ item.product.name }}</h4></a>
              <h4><span>{{ item.quantity }}
                x {{ (item.product.price - (item.product.price * cartService.porcdtco)) | currency:productsService?.currency:'symbol' }}</span>
              </h4>
            </div>
          </div>
          <div class="close-circle">
            <a (click)="removeItem(item)"><i class="fa fa-times" aria-hidden="true"></i></a>
          </div>
        </li>
        <li>
          <div class="total">
            <h5>subtotal : <span>{{ getTotal(1)  | currency:productsService?.currency:'symbol'}}</span></h5>
          </div>
        </li>
        <li>
          <div class="buttons">
            <a [routerLink]="'/inicio/carrito'" class="view-cart">Ver Carrito</a>
            <a [routerLink]="'/inicio/comprar'" class="checkout">Comprar</a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
