<form>
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <div class="checkout-title">
        <h3>Mi cuenta</h3>
      </div>
      <div class="row check-out">
        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="field-label">Nombre(s)</div>
          <input type="text" class="form-control" name="firstname" [formControl]="checkoutForm.controls['firstname']"
                 value=""
                 placeholder="" autocomplete="off">
          <div
            *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.required"
            class="text text-danger">
            El nombre es requerido.
          </div>
          <div
            *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.pattern"
            class="text text-danger">
            Solo se permiten letras en el nombre.
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <div class="field-label">Apellido(s)</div>
          <input type="text" class="form-control" name="lastname" [formControl]="checkoutForm.controls['lastname']"
                 value=""
                 placeholder="" autocomplete="off">
          <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.required"
               class="text text-danger">
            El apellido es requerido.
          </div>
          <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.pattern"
               class="text text-danger">
            Solo se permiten letras en el apellido.
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <div class="field-label">Teléfono</div>
          <input type="text" class="form-control" name="telephone" [formControl]="checkoutForm.controls['telephone']"
                 value=""
                 placeholder=""
                 autocomplete="off">
          <div
            *ngIf="checkoutForm.controls.telephone.touched && checkoutForm.controls.telephone.errors?.required"
            class="text text-danger">
            El Teléfono es requerido.
          </div>
          <div
            *ngIf="checkoutForm.controls.telephone.touched && checkoutForm.controls.telephone.errors?.pattern"
            class="text text-danger">
            Solo se permiten numeros en el teléfono.
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <div class="field-label">Correo</div>
          <input type="text" class="form-control" name="buyerEmail" [formControl]="checkoutForm.controls['buyerEmail']"
                 value=""
                 placeholder=""
                 autocomplete="off">
          <div
            *ngIf="checkoutForm.controls.buyerEmail.touched && checkoutForm.controls.buyerEmail.errors?.required"
            class="text text-danger">
            El correo es requerido.
          </div>
          <div
            *ngIf="checkoutForm.controls.buyerEmail.touched && checkoutForm.controls.buyerEmail.errors?.email"
            class="text text-danger">
            Correo invalido.
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <div class="field-label">Seleccione el país</div>
          <select class="form-control" name="shippingCountry" [formControl]="checkoutForm.controls['shippingCountry']">
            <option value="" selected disabled>Seleccione el pais</option>
            <option *ngFor="let data of paises" value="{{data.alpha2Code}}">{{data.name}}</option>
          </select>
          <div
            *ngIf="checkoutForm.controls.shippingCountry.touched && checkoutForm.controls.shippingCountry.errors?.required"
            class="text text-danger">
            El país es requerido.
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <div class="field-label">Dirección</div>
          <input type="text" class="form-control" name="shippingAddress"
                 [formControl]="checkoutForm.controls['shippingAddress']"
                 value=""
                 placeholder="" autocomplete="off">
          <div
            *ngIf="checkoutForm.controls.shippingAddress.touched && checkoutForm.controls.shippingAddress.errors?.required"
            class="text text-danger">
            La dirección es requerida.
          </div>
          <div
            *ngIf="checkoutForm.controls.shippingAddress.touched && checkoutForm.controls.shippingAddress.errors?.maxlength"
            class="text text-danger">
            Maximo 50 caracteres.
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <div class="field-label">Ciudad</div>
          <input type="text" class="form-control" name="shippingCity"
                 [formControl]="checkoutForm.controls['shippingCity']" value=""
                 placeholder=""
                 autocomplete="off">
          <div
            *ngIf="checkoutForm.controls.shippingCity.touched && checkoutForm.controls.shippingCity.errors?.required"
            class="text text-danger">
            La ciudad es requerida.
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <div class="field-label">Departamento</div>
          <input type="text" class="form-control" name="state" [formControl]="checkoutForm.controls['state']" value=""
                 placeholder=""
                 autocomplete="off">
          <div *ngIf="checkoutForm.controls.state.touched && checkoutForm.controls.state.errors?.required"
               class="text text-danger">
            El departamento es requerido
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
          <div class="field-label">Código postal</div>
          <input type="text" class="form-control" name="postalcode" [formControl]="checkoutForm.controls['postalcode']"
                 value=""
                 placeholder="" autocomplete="off">
          <div
            *ngIf="checkoutForm.controls.postalcode.touched && checkoutForm.controls.postalcode.errors?.required"
            class="text text-danger">
            El código postal es requerido.
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 d-flex align-items-center justify-content-center">
          <button class="btn-solid btn"
                  type="submit" (click)="update(checkoutForm)">
            Actualizar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
