<!-- breadcrumb start -->
<div class="breadcrumb-section" *ngIf="!orderDetails">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>404 page</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/inicio/one'">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">404 page</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="p-0" *ngIf="!orderDetails">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="error-section">
          <h1>404</h1>
          <h2>page not found</h2>
          <a [routerLink]="'/inicio/one'" class="btn btn-solid">Regresar al inicio</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->

<!-- thank-you section start -->
<section class="section-b-space light-layout" *ngIf="orderDetails">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="success-text">
          <i *ngIf="state==4" class="fa fa-check-circle" aria-hidden="true"></i>
          <i *ngIf="state==7" style="color: #f0b54d !important;" class="fa fa-exclamation-circle"
             aria-hidden="true"></i>
          <i *ngIf="state==6" style="color: red !important;" class="fa fa-times-circle" aria-hidden="true"></i>
          <h2>Gracias</h2>
          <p>El estado del pago de su pedido se encuentra {{msgState}}</p>
          <p>ID de la transacción: #{{orderDetails.orderId}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->
<!-- order-detail section start -->
<section class="section-b-space" *ngIf="orderDetails">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="product-order">
          <h3>Descripción de su pedido</h3>
          <div class="row product-order-detail" *ngFor="let item of orderDetails.product">
            <div class="col-3">
              <img [src]="item.product.pictures[0]" alt="producto imagen" class="img-fluid">
            </div>
            <div class="col-3 order_detail">
              <div>
                <h4>Nombre de producto</h4>
                <h5>{{item.product.name}}</h5>
              </div>
            </div>
            <div class="col-3 order_detail">
              <div>
                <h4>Cantidad</h4>
                <h5>{{item.quantity}}</h5>
              </div>
            </div>
            <div class="col-3 order_detail">
              <div>
                <h4>Precio</h4>
                <h5>{{item.product.price - (item.product.price * porcdtco) | currency:productsService?.currency:'symbol'}}</h5>
              </div>
            </div>
          </div>

          <div class="total-sec">
            <ul>
              <li>
                Subtotal<span>{{(orderDetails.totalAmount - orderDetails.shipping) * 0.71 | currency:productsService?.currency:'symbol'}}</span>
              </li>
              <li>Envío <span>{{orderDetails.shipping | currency:productsService?.currency:'symbol'}}</span></li>
              <li>Impuesto <span>{{orderDetails.tax | currency:productsService?.currency:'symbol'}}</span></li>
              <li>Descuento <span>{{orderDetails.descuento | currency:productsService?.currency:'symbol'}}</span></li>
            </ul>
          </div>
          <div class="final-total">
            <h3>Total <span>{{orderDetails.totalAmount | currency:productsService?.currency:'symbol'}}</span></h3>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row order-success-sec">
          <div class="col-sm-6">
            <h4>Details</h4>
            <ul class="order-detail">
              <li>ID Pedido: {{orderDetails.orderId}}</li>
              <li>Dia Pedido: {{data.toLocaleDateString("es-ES", options)}}</li>
              <li>Total Pedido: {{orderDetails.totalAmount | currency:productsService?.currency:'symbol'}}</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <h4>Dirección de envío</h4>
            <ul class="order-detail">
              <li>{{orderDetails.shippingDetails.shippingAddress}}</li>
              <li>{{orderDetails.shippingDetails.state}}</li>
              <li>{{orderDetails.shippingDetails.shippingCountry}}, {{orderDetails.shippingDetails.postalcode}}</li>
              <li>Contacto No. {{orderDetails.shippingDetails.telephone}}</li>
            </ul>
          </div>

          <div class="col-sm-12 payment-mode">
            <h4>Método de pago</h4>
            <p>Pago recibido por: <span>  {{method}}</span> Con <span>{{entidad}}</span>.</p>
          </div>
          <div class="col-md-12">
            <div class="delivery-sec">
              <h3>
                Fecha esperada de entrega</h3>
              <h2 *ngIf="method!=='Tarjeta de credito'">10 dias hábiles a partir de la fecha de pago</h2>
              <h2 *ngIf="method==='Tarjeta de credito'">{{fEntrega.toLocaleDateString("es-ES", options)}}</h2>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Section ends -->
