<div class="row">
  <div class="col-lg-6">
    <div class="header-contact">
      <ul>
        <li>{{ 'topbar-title' | translate }}</li>
        <li>
          <a href="http://goo.gl/h2wd9n"><i class="fa fa-phone" aria-hidden="true"></i>{{ 'call-us' | translate }}: +57
            313
            7402856
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 text-right">
    <ul class="header-dropdown">
      <!--<li class="compare">-->
      <!--<a [routerLink]="'/inicio/compare'"><i [routerLink]="'/inicio/compare'" class="fa fa-random"-->
      <!--aria-hidden="true"></i>{{ 'compare' | translate }}</a>-->
      <!--</li>-->
      <li class="mobile-wishlist mr-2">
        <a [routerLink]="'/inicio/lista'"><i [routerLink]="'/inicio/lista'" class="fa fa-heart"
                                              aria-hidden="true"></i>{{ 'wishlist' | translate }}
        </a>
      </li>
      <li class="onhover-dropdown mobile-account" *ngIf="!LoginService.show">
        <i class="fa fa-user" aria-hidden="true" [routerLink]="'/pages/dashboard/info'"></i>
        <a [routerLink]="'/paginas/dashboard/info'">{{ 'my-account' | translate }}</a>
        <ul class="onhover-show-div">
          <li>
            <a [routerLink]="'/paginas/login'" data-lng="en">
              {{ 'login' | translate }}
            </a>
          </li>
        </ul>
      </li>
      <li class="mobile-account" *ngIf="LoginService.show">
        <i class="fa fa-user" aria-hidden="true" [routerLink]="'/paginas/dashboard/info'"></i>
        <a
          [routerLink]="'/paginas/dashboard/info'">{{LoginService.data.cliente.buyerFullName.split(' ')[2] + ' ' + LoginService.data.cliente.buyerFullName.split(' ')[0] | uppercase}}</a>
      </li>
    </ul>
  </div>
</div>

<!--DOnde esta lo que necesita remplazar por el nombre ?-->
