.quick {
  text-align: center;
  max-width: 100%;
  height: auto;
  & > a {
    color: #000;
  }
  &:hover{
    background-color: #2d2a25;
    & > a {
      color: #fff8f8;
    }
  }
}

.img-wrapper{
  margin: 0 !important;
}
