<div class="img-wrapper">
  <div class="lable-block">
    <!--<span class="lable3" *ngIf='product.new'>Nuevo</span>-->
    <span class="lable4" *ngIf='product.sale'>Dto</span>
  </div>
  <div class="front">
    <a [routerLink]="['/inicio/product', product.ref]"><img [src]="!variantImage ? product.pictures[0] : variantImage"
                                                            class="img-fluid" alt="producto imagen"></a>
  </div>
  <ul class="product-thumb-list">
    <li class="grid_thumb_img" [ngClass]="{'active': selectedItem == variant.images}"
        *ngFor="let variant of product.variants">
      <a [routerLink]="" (click)="changeVariantImage(variant.images)">
        <img alt="producto imagen" [src]="variant.images">
      </a>
    </li>
  </ul>
  <div class="cart-info cart-wrap">
    <a [routerLink]="['/inicio/product/',product.ref]" data-placement="left" title="Agregar al carrito">
      <i class="icon-shopping-cart"></i>
    </a>
    <a [routerLink]="" (click)="addToWishlist(product)" title="Agregar a lista">
      <i class="icon-heart" aria-hidden="true"></i>
    </a>
    <!--<a [routerLink]="" [attr.data-target]="'#quick-view'+product.id" data-toggle="modal" title="Ver">-->
    <!--<i class="icon-search" aria-hidden="true"></i>-->
    <!--</a>-->
  </div>
</div>
<div style="cursor: pointer" class="quick" [routerLink]="" [attr.data-target]="'#quick-view'+product.id"
     data-toggle="modal" title="Ver">
  <a>
    <strong>
      Ver detalles <i class="fa fa-eye" aria-hidden="true"></i>
    </strong>
  </a>
</div>

<div class="product-detail mt-4">
  <div>
    <a [routerLink]="['/inicio/product', product.ref]"><h6>{{product.name}}</h6></a>
    <h4>{{(product.price - (product.price * cartService.porcdtco)) | currency:productsService?.currency:'symbol'}}
      <del><span
        class="money" *ngIf="product.sale">{{product.salePrice | currency:productsService?.currency:'symbol'}}</span>
      </del>
    </h4>
    <ul class="color-variant">
      <li [class]="variant.color" (click)="changeVariantImage(variant.images)"
          *ngFor="let variant of product.variants"></li>
    </ul>
  </div>
</div>
