<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Inicia sesión</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/inicio'">Inicio</a></li>
            <li class="breadcrumb-item active">Iniciar Sesión</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="login-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>Inicia sesión</h3>
        <div class="theme-card">
          <p>Inicia sesión para obtener mayores descuentos</p>
          <form class="theme-form" [formGroup]="formLogin" (submit)="login(formLogin)">
            <div class="form-group">
              <label for="nombre">Cédula</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingrese su cédula"
                     formControlName="nombre" required>
            </div>
            <div class="form-group">
              <label for="cedula">Contraseña</label>
              <input type="password" class="form-control" id="cedula" placeholder="Ingrese su Contraseña"
                     formControlName="cedula"
                     required>
            </div>
            <button class="btn btn-solid" type="submit" [disabled]="formLogin.invalid">Ingresar</button>
          </form>
          <input type="file" (change)="fileEvent($event)">
        </div>
      </div>
      <div class="col-lg-6 right-login">
        <h3>Nuevo por aca?</h3>
        <div class="theme-card authentication-right">
          <h6 class="title-font">Crear Cuenta</h6>
          <p>
            Regístrese para obtener una cuenta gratuita en nuestra tienda. Registrarse es facil y rapido. Te permite ser
            capaz de ordenar
            de nuestra tienda. Para comenzar a comprar, haga clic en registrarse.</p>
          <button class="btn btn-solid">Registrarse</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->

<!--En que parte usa este componente donde esta el "app-login" ?-->
