<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Mi lista de deseos</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="wishlist-section section-b-space">
  <div class="container">
    <div class="col-md-12 empty-cart-cls text-center" *ngIf='!wishlistItems.length'>
      <img src="assets/images/empty-wishlist.png" alt="Empty cart" title="Emprt cart">
      <h3 class="mt-4"><b>Lista de deseos vacia</b></h3>
      <h4>
        Explora más preseleccionar algunos artículos.</h4>
    </div>
    <div class="row" *ngIf='wishlistItems.length'>
      <div class="col-sm-12">
        <table class="table cart-table table-responsive-xs">
          <thead>
          <tr class="table-head">
            <th scope="col">Imagen</th>
            <th scope="col">Nombre de producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Disponible</th>
            <th scope="col">Acción</th>
          </tr>
          </thead>
          <tbody *ngFor="let item of wishlistItems">
          <tr>
            <td>
              <a [routerLink]="['/inicio/product', item.id]">
                <img [src]="item.pictures[0]" alt="producto imagen">
              </a>
            </td>
            <td>
              <a [routerLink]="['/inicio/product', item.id]">{{ item.name }}</a>
              <div class="mobile-cart-content row">
                <div class="col-xs-3">
                  <p>En stock</p>
                </div>
                <div class="col-xs-3">
                  <h2 class="td-color">{{ item.priced | currency:productsService?.currency:'symbol' }}</h2>
                </div>
                <div class="col-xs-3">
                  <h2 class="td-color">
                    <a [routerLink]="" (click)="removeItem(item)" class="icon mr-1">
                      <i class="icon-close"></i>
                    </a>
                    <a [routerLink]="" (click)="addToCart(item)" class="cart">
                      <i class="icon-shopping-cart"></i>
                    </a>
                  </h2>
                </div>
              </div>
            </td>
            <td>
              <h2>{{ item.priced | currency:productsService?.currency:'symbol' }}</h2>
            </td>
            <td>
              <p>En stock</p>
            </td>
            <td>
              <a [routerLink]="" (click)="removeItem(item)" class="icon mr-3">
                <i class="icon-close"></i>
              </a>
              <a [routerLink]="'/inicio/carrito'" (click)="addToCart(item)" class="cart">
                <i class="icon-shopping-cart"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row wishlist-buttons" *ngIf='wishlistItems.length'>
      <div class="col-12">
        <a [routerLink]="['/inicio/left-side/categoria/all']" class="btn btn-solid">Continuar comprando</a>
        <a [routerLink]="['/inicio/comprar']" class="btn btn-solid">Comprar</a>
      </div>
    </div>
  </div>
</section>
<!--section end-->
