<div class="account-sidebar">
  <a class="popup-btn" (click)="showMenu()">
    Mi cuenta
  </a>
</div>
<div class="dashboard-left">
  <div class="collection-mobile-back">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true" (click)="hideMenu()"></i> Atras
                        </span>
  </div>
  <div class="block-content">
    <ul>
      <li routerLinkActive="active" (click)="hideMenu()"><a routerLink="/paginas/dashboard/info">Información de la cuenta</a></li>
      <li routerLinkActive="active" (click)="hideMenu()"><a routerLink="/paginas/dashboard/pedidos">Mis ordenes</a></li>
      <li routerLinkActive="active" (click)="hideMenu()"><a routerLink="/paginas/dashboard/lista">Mi lista de deseos</a></li>
      <li routerLinkActive="active" (click)="hideMenu()"><a routerLink="/paginas/dashboard/cuenta">Mi cuenta</a></li>
      <li routerLinkActive="active" (click)="hideMenu()"><a routerLink="/paginas/dashboard/cambiar-contraseña">Cambiar contraseña</a></li>
      <li class="last"><a href="" (click)="logout()">Cerrar sesión</a></li>
    </ul>
  </div>
</div>
