<div class="footer-title">
  <h4>Información de la tienda</h4>
</div>
<div class="footer-contant">
  <ul class="contact-list">
    <li><i class="fa fa-map-marker"></i><a href="https://bit.ly/2MTgNTC">Frixio Hecho a mano, Carrera 4 # 1A-72, Cartago Valle del Cauca
    </a></li>
    <li><i class="fa fa-phone"></i><a href="http://goo.gl/h2wd9n">{{ 'call-us' | translate }}:
      +57
      313
      7402856
    </a></li>
    <li><i class="fa fa-envelope-o"></i>Email: <a href="mailto:info@bordadosdecartago.com">info@bordadosdecartago.com</a></li>
  </ul>
</div>
