<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Carrito</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/inicio/one'">Inicio</a></li>
            <li class="breadcrumb-item active">Carrito</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="cart-section section-b-space">
  <div>
    <div class="col-sm-12 empty-cart-cls text-center" *ngIf="!shoppingCartItems.length">
      <img src="assets/images/icon-empty-cart.png" class="img-fluid mb-4">
      <h3><strong>Tu carrito esta vacio</strong></h3>
      <h4>Agrega productos para hacerme feliz :)</h4>
    </div>
    <div class="row w-100" *ngIf='shoppingCartItems.length'>
      <div class="col-sm-12">
        <table class="table cart-table table-responsive-sm">
          <thead>
          <tr class="table-head">
            <th scope="col">imagen</th>
            <th scope="col">Referencia</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Talla</th>
            <th scope="col">Acción</th>
            <th scope="col">total</th>
          </tr>
          </thead>
          <tbody *ngFor="let item of shoppingCartItems">
          <tr>
            <td>
              <a [routerLink]="['/inicio/product', item.product.ref]">
                <img [src]="item.product.pictures[0]" alt="producto imagen">
              </a>
            </td>
            <td>
              <a [routerLink]="['/inicio/product', item.product.ref]"
                 class="text-black"><strong>{{ item.product.shortDetails }}</strong></a>
              <div class="mobile-cart-content">
                <div class="col-xs-3">
                  <div class="qty-box">
                    <div class="input-group">
                      <input type="text" id="button" name="quantity" class="form-control input-number"
                             [(ngModel)]="item.quantity"
                             (change)="movil(item.product,item.quantity,item.size)"
                             style="width: 50px;
    height: 32px;">
                    </div>
                  </div>
                </div>
                <div class="col-xs-3">
                  <h2
                    class="td-color">{{ item.product.price * item.quantity | currency:productsService?.currency:'symbol' }}</h2>
                </div>
                <div class="col-xs-3">
                  <h2 class="td-color">
                    <a [routerLink]="" class="icon" (click)="removeItem(item)">
                      <i class="icon-close"></i>
                    </a>
                  </h2>
                </div>
              </div>
            </td>
            <td>
              <h2>{{ cartService.getTotal(1) | currency:productsService?.currency:'symbol' }}</h2>
            </td>
            <td class="cant">
              <div class="qty-box">
                <div class="input-group">
                    <span class="input-group-prepend">
                    <button type="button" class="btn quantity-left-minus" (click)="decrement(item.product,-1,item.size)"
                            data-type="minus" data-field="">
                      <i class="icon-angle-left"></i>
                    </button>
                  </span>
                  <input type="text" name="quantity" disabled class="form-control input-number"
                         [(ngModel)]="item.quantity">
                  <span class="input-group-prepend">
                    <button type="button" class="btn quantity-right-plus" (click)="increment(item.product,1,item.size)"
                            data-type="plus" data-field="">
                      <i class="icon-angle-right"></i>
                    </button>
                  </span>
                </div>
              </div>
            </td>
            <td>
              <span>{{item.size}}</span>
            </td>
            <td>
              <a [routerLink]="" (click)="removeItem(item)" class="icon">
                <i class="icon-close"></i>
              </a>
            </td>
            <td>
              <h2
                class="td-color">{{ (item.product.price - (item.product.price * cartService.porcdtco)) * item.quantity | currency:productsService?.currency:'symbol' }}</h2>
            </td>
          </tr>
          </tbody>
        </table>
        <table class="table cart-table table-responsive-sm">
          <tfoot>
          <tr>
            <td>Precio total :</td>
            <td>
              <h2> {{ cartService.getTotal(1)  | currency:productsService?.currency:'symbol'}}</h2>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row cart-buttons" *ngIf='shoppingCartItems.length'>
      <div class="offset-2 col-8 buttons-cart">
        <a [routerLink]="['/inicio/categoria/all']" class="btn btn-solid m-1">
          Seguir Comprando</a>
        <a [routerLink]="['/inicio/comprar']" class="btn btn-solid m-1">Comprar</a>
      </div>
    </div>
  </div>
</section>
<!--section end-->
