.table {
  overflow: auto !important;
}

.text-black {
  color: black;
}

@media only screen and (min-width: 400px) {
  .buttons-cart {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media only screen and (max-width: 399px) {
  .buttons-cart {
    & > a {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .mobile-cart-content {
    display: flex;
    flex-direction: column;
  }

}

@media (min-width: 767px) {
  .cart-section tbody tr td:nth-last-child(+2) {
    display: none;
  }

}

.cant {
  min-width: 150px;
  @media only screen and (min-width: 1199px) {
    min-width: 173px;
  }
}
