<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Crear cuenta</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/inicio/one'">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Crear cuenta</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="register-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>create cuenta</h3>
        <div class="theme-card">
          <form class="theme-form">
            <div class="form-row">
              <div class="col-md-6">
                <label for="email">Nombre</label>
                <input type="text" class="form-control" id="fname" placeholder="Ingrese su nombre" required="">
              </div>
              <div class="col-md-6">
                <label for="review">Apellido</label>
                <input type="password" class="form-control" id="lname" placeholder="Ingrese su apellido" required="">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <label for="email">Correo</label>
                <input type="text" class="form-control" id="email" placeholder="Ingrese su correo" required="">
              </div>
              <div class="col-md-6">
                <label for="review">Contraseña</label>
                <input type="password" class="form-control" id="review" placeholder="Ingrese su contraseña" required="">
              </div>
              <button class="btn btn-solid">Crear cuenta</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->
