<div class="footer-title">
  <h4>Categorías</h4>
</div>
<div class="footer-contant">
  <ul>
    <li><a [routerLink]="'/inicio/categoria/mujer'">Mujer</a></li>
    <li><a [routerLink]="'/inicio/categoria/hombre'">Hombre</a></li>
    <li><a [routerLink]="'/inicio/categoria/niños'">Niños</a></li>
    <li><a [routerLink]="'/inicio/categoria/niñas'">Niñas</a></li>
    <li><a [routerLink]="'/inicio/categoria/especial'">Especial</a></li>
  </ul>
</div>
