<!-- Paragraph-->
<div class="title1  section-t-space">
  <!--<h4>Oferta Especial</h4>-->
  <h2 class="title-inner1">Oferta especial</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="product-para">
      </div>
    </div>
  </div>
</div>
<!-- Paragraph end -->
<!-- Product slider -->
<section class="section-b-space p-t-0">
  <div class="container">
    <div class="row no-slider">
      <div class="col ">
        <ngx-slick-carousel class="product-4 product-m no-arrow" #slickModal="slick-carousel"
                            [config]="productSlideConfig">
          <div ngxSlickItem class="product-box" *ngFor="let product of products">
            <app-product [product]="product"></app-product>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
<!-- Product slider end -->
